# DDW 2D Task 3

## Members
* Aaron Tua Zhe Yu
* Ansley Tan An Qing
* Patrick Phone Myat Mo
* Stefanie Tan Hui Zhen
* Abhijith Kizhakke Chittadath

## Background


## User Personas


## Problem Statement
How might we predict the prevalence of undernourished population

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Initial Data Preprocessing

Prior to our data modelling, we have already preprocessed our data

In [3]:
# Read CSV file
df = pd.read_csv("modelling-data.csv")

display(df)

,Countries,Food Prices\n,Crime Index,Literacy Rates,Amount of Food Waste (kg/capita/year),Average Population Density (people per sq. km of land area),Average Work Hours (per wk per person),GDP (PPP) per capita,Prevalence of undernourishment
0,Argentina,122.409,75.11,98.1,72.432163,16,35.1,22947,37.0
1,Australia,153.540,73.51,99.0,101.697811,3,33.2,53320,11.9
2,Bangladesh,79.094,63.66,61.5,65.124075,1253,46.9,4951,31.7
3,Belgium,129.240,57.38,99.0,49.919512,379,35.7,54545,4.8
4,Botswana,98.008,55.67,88.5,91.939766,4,45.8,18503,55.6
5,Brazil,107.662,77.93,92.6,59.598854,25,35.1,15259,28.9
6,Canada,137.341,64.58,99.0,78.541621,4,32.1,51342,6.5
7,Chile,120.959,59.80,97.3,73.920770,25,34.6,25155,17.4
8,Colombia,89.730,69.50,94.7,70.431888,45,38.7,15644,8.2
9,Ecuador,103.177,70.59,94.5,72.432163,70,37.9,11847,36.8
10,Egypt,52.288,49.68,75.2,91.016180,101,46.2,12251,27.3
11,France,132.250,65.70,99.0,84.790172,123,35.9,49435,2.5
12,Germany,116.028,44.12,99.0,75.000000,238,34.2,56052,2.5
13,Hungary,96.955,35.06,99.1,93.825215,107,38.1,33979,10.6
14,Indonesia,90.192,53.30,93.9,77.369812,144,39.3,12302,6.0
15,Iran,98.980,55.72,86.8,70.975338,51,44.6,17662,42.4
16,Italy,129.286,63.51,99.2,67.048711,202,35.8,44197,6.3
17,Malaysia,76.820,63.40,94.6,91.442717,97,45.1,29526,15.4
18,Mexico,88.741,81.80,94.4,93.900195,66,38.8,20411,26.1
19,Namibia,98.393,68.64,81.9,91.939766,3,43.1,10037,57.9
20,Pakistan,70.138,54.10,56.4,73.638966,281,46.8,4885,32.6
21,Peru,100.450,70.70,94.5,72.432163,25,38.3,13380,50.5
22,Philippines,79.097,64.72,96.3,86.337127,363,41.7,9277,43.8
23,Poland,76.523,42.09,99.8,55.940300,124,39.1,34218,7.4
24,Romania,73.693,60.20,98.8,69.868672,84,38.7,32297,13.4
25,Russia,78.411,52.30,99.7,33.375521,9,37.8,29181,5.5
26,Singapore,127.302,27.22,96.8,80.174203,7966,44.7,101376,4.6
27,South Africa,92.413,81.98,94.3,39.776225,48,39.8,12999,19.0
28,South Korea,202.794,25.38,100.0,71.405417,213,38.7,43029,5.3
29,Spain�,109.705,54.42,98.1,77.325665,94,36.6,42214,8.6
30,United Arab Emirates,128.869,16.30,93.8,94.532023,138,52.6,69901,7.5
31,United Kingdom,106.357,62.68,99.0,77.000000,276,35.9,48710,3.5
32,Ukraine,55.473,53.17,99.8,76.031596,77,39.0,13341,22.7
33,United States of America,123.827,75.75,99.0,58.833231,36,35.9,65281,8.2

### Functions for Modelling

In [4]:
def normalize_z(df):
    dfout = df.copy()
    dfout = (df - df.mean()) / df.std()
    return dfout

def get_features_targets(df, feature_names, target_names):
    # get the columns for the features and the targets from the input argument data frame
    df_feature = df[feature_names]
    df_target = df[target_names]
    return df_feature, df_target

def prepare_feature(df_feature):
    # get number of columns
    cols = len(df_feature.columns)
    
    # convert the data frame to a numpy array and change it into a column vectors
    # shape the feature columns
    feature = df_feature.to_numpy().reshape(-1, cols)
    rows = feature.shape[0] # get number of rows
    
    # create our ones
    ones = np.ones((rows, 1))
    X = np.concatenate((ones, feature), axis=1)
    
    return X

def prepare_target(df_target):
    # convert the data frame to a numpy array and change it into column vectors
    cols = len(df_target.columns)
    target = df_target.to_numpy().reshape(-1, cols)
    return target

def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    np.random.seed(random_state)
    n = len(df_feature)
    
    test_num = int(n * (test_size))
    
    test_idx = np.random.choice(n, test_num, replace=False)
    train_idx = [i for i in range(n) if i not in test_idx]
    
    df_feature_test = df_feature.iloc[test_idx]
    df_feature_train = df_feature.iloc[train_idx]
    df_target_test = df_target.iloc[test_idx]
    df_target_train = df_target.drop(test_idx)
    return df_feature_train, df_feature_test, df_target_train, df_target_test

In [11]:
# extract the feature and target
df_feature , df_target = get_features_targets(df, ['Food Prices\n'], ['Countries (2019)']) # Change features/ targets

# normalize the feature
df_feature = normalize_z(df_feature)

Create training and test data sets.

In [ ]:
# change feature data frame to numpy array and append column 1
feature = prepare_feature(df_feature)

# change target data frame to numpy array
target = prepare_target(df_target)

Build your model

In [ ]:
def predict_norm(X, beta):

In [ ]:
def predict(df_feature, beta):

Choose an appropriate metric to evaluate your model

Improve your model.